* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  padding: 30px;
  background-color: rgb(53, 52, 50);
}

.kotak {
  width: calc(100% - 40px);
  max-width: 600px;
  height: 470px;
  max-width: 95%;
  margin: 10px auto;
  margin-top: 30px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  background-color: #fff9f9;
  padding: 0px;
}

header {
  background-color: brown;
  color: white;
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
.p {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  text-align: center;
  margin: 30px;
  font-size: 15px;
  margin-top: 10px;
}

.p a {
  color: #007bff;
  text-decoration: none;
}

.p a:hover {
  text-decoration: underline;
}

#text {
  text-align: justify;
}

input {
  display: flex;
  border-radius: 8px;
  border: 2px solid rgb(121, 119, 119);
  width: 60%;
  padding: 5px;
  margin-bottom: 10px;
}

.masuk {
  margin-left: 18px;
}

#inputNumber {
  margin-top: 10px;
  margin-left: 15px;
}

textarea {
  width: 60%;
  height: 150px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 10px;
  margin-left: 15px;
  border-radius: 8px;
  border: 1px solid rgb(161, 159, 159);
  padding: 5px;
  resize: none;
}

button {
  background-color: brown;
  color: white;
  margin-left: 15px;
  border: none;
  border-radius: 5px;
  padding: 9px;
  width: 80px;
  cursor: pointer;
}

button:hover {
  background-color: #e6410b;
  color: black;
}

#kaltik {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-decoration: underline;
  font-size: 30px;
}

#btn {
  margin-left: 46%;
}
#gambar-kubus {
  width: 298px;
  height: 250px;
  position: absolute;
  top: 64%;
  right: 125px;
  transform: translateY(-50%);
  border: 5px solid #333;
  border-radius: 8px;
}
